
.nav-left, .nav-right > img {display: block;}

.content {

    color: #ffffff;
    font-size: 18px;
    margin: 5px;
    padding: 20px 50px;
    > div:nth-child(1) {
        > img {
            height: 150px;
            display: block;
            margin: 0 auto;
        }
        > div {
            text-align: center;
            margin: -60px auto 0;
            > p {
                font-size: 28px;
                line-height: 60px;
                margin: 0;
            }
        }
    }
    > div:nth-child(2) {
        padding-top: 20px;
        padding-bottom: 20px;
        p {margin: 0;}
        > div {
            padding-top: 20px;
            > p {
            display: inline-block;
            }
        }
    }
}

.content-bottom-itmes {
    padding: 10px 50px;
    margin: 5px;
    // margin-left: 5px;
    // margin-right: 5px;
    background-color: #fff;
    > div {
        >p{
        color: #bcbcbc;
        margin: 10px 0;
        }
    }
}













