

.page-3-nav {
    border-bottom-color: #fff !important;
}
@media (max-width:576px) {
    .page-3-nav {
        width: 100%;
        background-color: #1f7c55;
        border-bottom-color: rgba($color: #000000, $alpha: 0)!important;
    }
}
.position-subnav {
    height: 60px;
    border-top:1px solid #999;
    border-bottom:1px solid #dad2d2;
    > span, a {
        display: inline-block;
        margin-right: 20px;
    }
    >a {
        &:link{color: #000;}
        &:visited{color: #000;}
        &:hover {
            color: #fff;
            background-color: #29b078;
        }
    }
    span:nth-child(1) {
        align-self:center;
        color: #a3a3a3;}
}
.web-subnav {
    padding: 0;
    line-height: 80px;
    border-bottom : 1px solid #dad2d2;
    >p{
        margin-left: 15px;
    }
}
/**卡片**/
@media (max-width:768px) {
    .content {
        justify-content: center;
    }
}
.card-width {
margin-left: -10px;
margin-right: -10px;
padding-left: 10px;
padding-right: 10px;
}
.card {
    font-size: 14px;
    text-align: justify;
    position: relative;
    margin-top: 50px;
    border-radius: 3px;
    box-shadow:0 0 10px #999;
    Overflow:hidden;
    word-break: break-all;
    >table {
        border-collapse: collapse;
        table-layout:fixed;  
        height: 450px;
        width: 100%;
        border:0;
        }
    td {
        padding-left: 10px;
        padding-right: 10px;
    }
}
@media (min-width: 1200px) 
{ 
    .card {
        margin-left: -5px;
        margin-right: -5px;
    } 
}
/*上*/
.card-top {
    border-left-width: 0;
    border-right-width: 0;
    vertical-align: top;
    padding-top:20px;
}
.card-top-right {
    padding-right: 10px;
    p:nth-child(1) {
        margin-top:15px;
    }
}
/*中  上*/
.card-center {
    color: #999;
}
.card-center-bottom {
    >span:nth-child(1) {color:#f30d0d}
    >span:nth-child(2) {color:#000}
}
/*中 下*/
.card-bottom-left {
    color:#999;
    text-align: center;
    font-weight: 700;
}
.card-bottom-right {
    >p{float: right;}
}
/*底*/
.card-footer-top {
    font-weight: 700;
    >span {color : #f30d0d;}
}
.card-footer-bottom {
    font-size: 12px;
    text-align: center;
}
/*动画效果*/
.msg {
    position: absolute;
    top:-100%;
    height: 100%;
    width: 100%;
    color:#fff;
    border-radius: 3px;               
    background-color: rgba(0, 0, 0, 0.8);
    transition-property:height;
    transition-duration: 0.5s;
    transition-delay:0.1s; 
    cursor: pointer;
}
.msg-content {
    position: absolute;
    bottom: 0;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    Overflow:hidden;
    text-align: center;
    font-weight: 700;
    >p:nth-child(1){margin-bottom: 30px;}
    >p:nth-child(2){
        text-align: justify;
        text-indent: 30px;
    }
    >p{
        text-align: center;
        margin-left: 30px;
        margin-right: 30px;
    }
}
.card:hover .msg{
height: 200%;
}

