@charset "UTF-8";
.wrapper {
  position: relative;
  overflow: hidden;
  font-size: 16px;
}

.wrapper > div:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  height: 100vh;
  width: 100vw;
  z-index: 101;
  background-color: rgba(0, 0, 0, 0.1);
}

.sidebar {
  position: absolute;
  /*侧导航栏*/
  top: 0;
  left: -220px;
  width: 200px;
  height: 100vh;
  z-index: 102;
  transition: all 0.2s ease-in-out .1s;
}

.sidebar > div {
  height: 50px;
  /*填充块*/
}

.sidebar > a {
  display: block;
  line-height: 50px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 26px;
  color: #ffffff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.sidebar > a:hover {
  background-color: #0065a0;
}

.sidebar > a span {
  width: 60px;
}

.main {
  box-sizing: border-box;
  width: 100%;
  max-width: 760px;
  padding: 0 30px;
  text-align: center;
}

/*导航*/
.nav-content {
  padding-top: 7.5px;
  padding-bottom: 7.5px;
}

.nav-content > .nav-button {
  height: 35px;
  width: 45px;
  z-index: 10;
}

.nav-content > .nav-button > span {
  display: block;
  width: 100%;
  height: 5px;
  margin-left: 10px;
  background-color: #fff;
}

.nav-content > .nav-button > span:nth-child(2) {
  margin-top: 10px;
  margin-bottom: 10px;
}

/*!上次游戏*/
.hot {
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 60px;
  font-size: 18px;
  color: #9a9a9a;
  margin-bottom: 15px;
  border: 1px solid #d0d0d0;
  background-color: #fff;
}

.hot > p {
  margin: 0;
}

.content {
  border: 1px solid #d0d0d0;
  box-shadow: 10px, 10px, 5px, rgba(255, 255, 255, 0.562);
  background-color: #fff;
}

/*!捉鬼游戏*/
.content-top {
  font-size: 30px;
  font-weight: 700;
  color: #fbb435;
  line-height: 50px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #fbb435;
}

/*!版本选择*/
.content-center {
  position: relative;
}

.content-center-list {
  width: 80%;
  margin: 0 auto;
}

.content-center-list div:nth-child(1) {
  color: #fff;
  line-height: 70px;
  background-color: #29bde0;
}

.content-center-list p:nth-child(2) {
  font-size: 14px;
  color: #9a9a9a;
  margin: 0;
}

.content-center-bottom ul {
  display: block;
  margin: 0 auto;
  padding: 0;
}

.content-center-bottom ul li {
  display: inline-block;
  list-style: none;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #29bde0;
}

.content-left {
  position: absolute;
  top: 38%;
  left: 1%;
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  /* IE 9 */
  -webkit-transform: rotate(180deg);
  /* Safari and Chrome */
}

.content-right {
  position: absolute;
  top: 38%;
  right: 1%;
}
