@charset "UTF-8";
p {
  display: block;
  margin: 0;
}

.days {
  padding: 10px;
}

/*天数*/
.days-top {
  color: #29bde0;
  font-size: 24px;
  text-align: center;
  line-height: 40px;
}

/*三角*/
.days-triangle {
  height: 0;
  width: 0;
  border-top: 12px rgba(255, 255, 255, 0) solid;
  border-bottom: 12px rgba(255, 255, 255, 0) solid;
  border-left: 0;
  border-right: 30px #24a7c6 solid;
}

/*分配选项空间*/
.days-bottom {
  display: flex;
  margin-top: 10px;
}

.days-bottom > div:nth-child(1) {
  flex-basis: 20%;
}

.days-bottom > div:nth-child(2) {
  flex-basis: 80%;
}

/*定位图片位置*/
.days-bottom-left img {
  height: 18px;
}

.days-bottom-left > div {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  box-sizing: border-box;
  background-color: #fff;
}

.days-bottom-left > div:nth-child(1) {
  top: 0;
  right: 26px;
  height: 100%;
  width: 2px;
  background-color: #c9c9c9;
}

.days-bottom-left > div:nth-child(2) {
  top: 15px;
  right: 12px;
  height: 30px;
  width: 30px;
  border: 2px #c9c9c9 solid;
  border-radius: 50%;
  z-index: 10;
}

.days-bottom-left > div:nth-child(3) {
  top: 70px;
  right: 12px;
  height: 30px;
  width: 30px;
  border: 2px #c9c9c9 solid;
  border-radius: 50%;
  z-index: 10;
}

/*定义选项样式*/
.days-bottom-right {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.days-bottom-right > div {
  flex-basis: 100%;
  display: flex;
  align-items: center;
  line-height: 50px;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.days-bottom-right p:nth-child(2) {
  color: #ffffff;
  width: 100%;
  margin-right: 20px;
  background-color: #24a7c6;
}

.days-bottom-right > div:nth-child(2) {
  font-size: 14px;
  margin-left: 30px;
  display: none;
}

.days-bottom-right > div:nth-child(6) {
  font-size: 14px;
  margin-left: 30px;
  display: none;
}

/*底部按钮*/
/*底部按钮*/
/*底部按钮*/
/*底部按钮*/
/*底部按钮*/
.footer {
  max-width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer > button {
  display: block;
  width: 40%;
  max-width: 200px;
  margin: 20px !important;
  font-size: 24px;
  line-height: 50px;
  color: #fff;
  background-color: #fbb435;
}
